<!DOCTYPE html>
<html>
  <head>
    <title>UiPictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'ui_pictionary' %>
    <%= stylesheet_pack_tag 'ui_pictionary' %>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap' rel='stylesheet'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
